<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa-solid fa-graduation-cap"></i> Education</h3>
  </div>
  <div class="panel-body">

      <p>
          <span class="edu-head"><b>- Web and Software Development Certificate Program</b></span><br>
          <span class="edu-body">Woz University; Scottsdale, AZ: (2020)</span>
      </p>

        <p>
          <span class="edu-head"><b>- B.S. in Physics with Math Minor</b></span><br>
          <span class="edu-body">The University of Missouri, Kansas City: (2015-2019)</span>
      </p>

      <p>
          <span class="edu-head"><b>- AAS Graphic Communications</b></span><br>
          <span class="edu-body">St. Louis Community College: STLCC (2006-2008)</span>
      </p>

  </div>
</div>