<div class="row"  id="head-block">

    <div class="col-md-9">
        <h1 class="move" id="head-title"><b>Griffonknox Development</b></h1>
        <p class="move">
            <span id="head-desc">Application & Software Developer </span>
        <span style="margin-left: 15px;">
            <a href="{{config['GIT_URL']}}" target="_blank"><i class="fa-brands fa-github-square fa-2x"></i></a>
        <a href="{{config['LINKEDIN_URL']}}" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
        </span>
        </p>
        <hr>
<!--        <p class="bstyle move" style="font-size: 16px; font-color: lightblue;"><i>"Everyday, take steps to get closer to the person you see your self become tomorrow."</i></p>-->
        <br><br>
    </div>

    <div class="col-md-3">
        <img id="headshot" class="move" src="{{url_for('static', filename='img/headshot.jpg') }}">
    </div>

</div>