<div class="row"  id="head-block">

    <div class="col-md-9">
        <h1 class="move" id="head-title">Griffonknox Development</h1>
        <p class="move" id="head-desc"><b>Application & Software Developer</b></p>
        <br><br>
        <p><span class="glyphicon glyphicon-play" aria-hidden="true">
            <i class="fa-brands fa-github-square fa-2x"></i>
            <i class="fa-brands fa-linkedin fa-2x"></i>
        </span></p>

    </div>

    <div class="col-md-3">
        <img id="headshot" class="move" src="{{url_for('static', filename='img/Headshot.jpg') }}">
    </div>

</div>