{% extends 'template.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    {% include "header.html" %}

    <div class="row">
        <div class="col-md-2" id="container">
            <img class="move" style="width: 100%; border-radius: 5px;" src="{{url_for('static', filename='img/coding.png') }}">
        </div>
        <div class="col-md-10">

            <h2 style="color: darkblue;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> About Me & Education</h2>

            <div class="row">

                <div class="col-md-7">
                    <p class="bstyle display-chat">A motivated, adaptable and responsible Physics graduate seeking a position which will utilize the professional and technical skills developed through past work experiences in this field. I have a methodical approach to work, a good team player and a strong drive to set and complete goals. In my previous opportunities, I developed and programmed tools that were used to increase efficiency and complete the assigned tasks before deadlines.</p>

                    <p class="bstyle display-chat">My idea work environment is amongst of a team of individuals that are just as motivated and driven as I am.  I enjoy researching and discussing new technologies, providing multiple solutions when approaching a problem to solve.  I look forward to meeting other professionals, working together and utilizing our different skill sets to develop great work.</p>
                    <br>
                </div>

                <div class="col-md-5">
                    {% include "education.html" %}
                </div>

            </div>
        </div>
    </div>
    <br>
<script>
    $('document').ready(function() {
        Image();
    });
</script>
{% endblock %}