<div class="row" style="margin-bottom: 15px;">
    <div class="col-md-6">

        <div class="flip-card">
          <div class="flip-card-inner">

            <div class="panel panel-default flip-card-front">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>OnePoint</b> - Financial Application</h3>
                </div>
                <div class="panel-body">
                <img style="height: 225px; box-shadow: 0 5px 10px black;" src="{{url_for('static', filename='img/onepoint.png') }}">
                </div>
            </div>

            <div class="flip-card-back">

                <p><b>Languages:</b> Python, JavaScript, </p>
                <p><b>Frameworks:</b> Python-Flask, Bootstrap</p>
                <p><b>DataBase:</b> MSSQL</p><br>
                <p><b>Description:</b> Commissioned custom application for a credit union to keep track of all
                of their active members, as well as document "follow up" attempts.</p>

            </div>
          </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="flip-card">
          <div class="flip-card-inner">

        <div class="panel panel-default flip-card-front">
          <div class="panel-heading">
            <h3 class="panel-title">Alien Projectory - Pygame</h3>
          </div>
          <div class="panel-body">
            <img style="width:100%; box-shadow: 0 5px 10px black;" src="{{url_for('static', filename='img/alientprojectory.png') }}">
          </div>
        </div>

            <div class="flip-card-back">

                <p><b>Languages:</b> Python, JavaScript, </p>
                <p><b>Frameworks:</b> Python-Flask, Bootstrap</p>
                <p><b>DataBase:</b> MSSQL</p><br>
                <p><b>Description:</b> Commissioned custom application for a credit union to keep track of all
                of their active members, as well as document "follow up" attempts.</p>

            </div>
          </div>
        </div>

    </div>
</div>

<div class="row" style="margin-bottom: 15px;">
<div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">ConsiderMe - Purchasing Department</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>

</div>


<div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ballot Sample Application</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>

</div>
</div>