{% extends 'bootstrap/base.html' %}


{% block title %}
    Griffonknox Development
{% endblock %}

{% block head %}
{{super()}}
    <meta charset="UTF-8">
    {% include "addons.html" %}
    <link rel="icon" href="{{ url_for('static',filename='img/aliennew.png') }}" type="image/x-icon">
{% endblock %}


{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
    <div class="container">




        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}


        {% block app_content %}{% endblock %}
    </div>
{% endblock %}